{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
    <h1>Clientes</h1>   
    
    <div class="row justify-content-center ">
        <div class="card col-md-9 p-0 mt-6 bg-light p-4">
            <div class="">
                <form name="formAdicionar" id="formAdicionar" action="{{ url_for('cliente.insert') }}" method="POST">
                    <div class="row">
                        <h3>Cadastro de Clientes</h3>
                    </div>
                    <input class="form-control" name="id" id="id" value="0" hidden>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Nome</label>
                                <input type="text" class="form-control" name="nome" id="nome" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Telefone</label>
                                <input type="tel" class="form-control" name="telefone" id="telefone" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">CPF</label>
                                <input type="text" class="form-control" id="cpf" name="cpf" id="cpf" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Senha</label>
                                <input type="password" class="form-control" name="senha" id="senha" value="">
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 w-100 d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-info col-md-2">Voltar</button>
                        <button type="submit" class="btn bg-gradient-success col-md-2" id='salvaClienteDB'>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

<!--
    id_produto: int = None
    nome: str
    cpf: str
    telefone: str
    compra_fiado: float
    dia_fiado: str
    senha: str
-->